<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div>
        <img src="media/label.jpg" class="img-rounded" height="178" width="602"/>
        <form action="/asp/logout" method="post">
            {% csrf_token %}
            <button style="float: right" type="submit" class="btn btn-danger">logout</button>
        </form>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <!-- to other page -->
            <div>
                <a href="/asp/cm_view_supply"><button class="btn btn-warning">View Supply</button></a>
            </div>
        </div>
        <div class="col-lg-9">
            <h1>View My Order</h1>
            <table class="table table-hover">
                <tr>
                    <th>Order No.</th>
                    <th>Status</th>
                    <th>Remove</th>
                    <th>Delivered</th>
                </tr>
                {% for order in order_list %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.status }}</td>
                    {% if order.status == 'QP' %}
                    <td>
                        <form method="post" action="/asp/cm_cancel_order">
                            {% csrf_token %}
                            <input type="hidden" name="remove" value="{{ order.id }}">
                            <button class="btn btn-info" type="submit">Remove order</button>
                        </form>
                    </td>
                    <td>unavailable</td>
                    {% elif order.status == 'DI' %}
                    <td>unavailable</td>
                    <td>
                        <form method="post" action="/asp/cm_receive_order">
                            {% csrf_token %}
                            <input type="hidden" name="deliver" value="{{ order.id }}">
                            <button class="btn btn-info" type="submit">Delivered</button>
                        </form>
                    </td>
                    {% else %}
                    <td>unavailable</td>
                    <td>unavailable</td>
                    {% endif %}
                </tr>
                {% empty %}
                <tr><td>No order</td></tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
</body>
</html>